# Node
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS
ehthumbs.db
Desktop.ini

# React/Vite
client/.env
client/node_modules/
client/dist/
client/build/

# Backend
backend/.env
backend/node_modules/
